
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
<link href="~/Content/w2ui-1.4.3/w2ui-1.4.3.min.css" rel="stylesheet" />
<script src="~/Content/w2ui-1.4.3/w2ui-1.4.3.min.js"></script>

<script src="~/Scripts/Product/ListProductW2UI.js"></script>

<h2>Danh sách sản phẩm</h2>
<input type="button" id="GetData" value="Get Data" />
<hr />

<div id="data-content" style="width: 100%; height: 350px; overflow: hidden;"></div>
