
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
<script src="~/Scripts/Product/ListProduct.js"></script>

<h2>Danh sách sản phẩm</h2>
<input type="button" id="GetData" value="Get Data" />
<hr />
<div id="data-content"></div>
